
<p>
  <strong>タイトル:</strong>
  <%= @document.title %>
</p>

<p>
  <strong>コンテンツ:</strong>
  <%= @document.content %>
</p>

<p>
  <strong>対象製品:</strong>
  <%= @document.product.name %>
</p>

<p>
  <strong>ファイル:</strong>
  <%= link_to @document.filepath, @document.filepath.url %>
<!--  <a href="/Users/o541/workspace/original_app_test/public/uploads/document/filepath/2/test.pdf">リンク</a> -->
</p>

<p>
  <strong>ファイル種別:</strong>
  <%= @document.category %>
</p>

<p>
  <strong>承認:</strong>
  <%= @document.authorize %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
