<h1>Homes#index</h1>
<p>Find me in app/views/homes/index.html.erb</p>
<p>要ログイン、ログイン後のファーストビュー</p>


<div class="container mt-5">
  <div class="row">
    <div class="col-3 sidebar">
      <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#exampleModal">
        管理者メッセージ投稿
      </button>
    </div>
    <div class="col-9 sidebar recipes">
      <%= render 'adminmsg', users: @users %>
    </div>
  </div>
</div>
<!-- モーダル -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">メッセージ投稿</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for(@user, remote: true, method: :patch) do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :admin_message, "管理者メッセージ" %>
            <%= f.text_area :admin_message, class:"form-control" %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          <%= f.submit "投稿する", class:"btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
