<%= form_with(model: review, local: true) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :requester %>
    <%= form.number_field :requester %>
  </div>

  <div class="field">
    <%= form.label :stage, "Stage" %>
    <%= form.select :stage, Review.stages.keys.to_a, {include_blank: '選択なし'} %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :former_review %>
    <%= form.number_field :former_review %>
  </div>

  <div class="field">
    <%= form.label :date_on %>
    <%= form.datetime_select :date_on %>
  </div>

  <div class="field">
    <%= form.label :deadline %>
    <%= form.datetime_select :deadline %>
  </div>

  <div class="field">
    <%= form.label :judge %>
    <%= form.select :judge, Review.judges.keys.to_a %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
