<!DOCTYPE html>
<html>
  <head>
    <title>TechDocumentHub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="app-title navbar navbar-expand-md navbar-light bg-light">
      <div class="navbar-brand">
        LOGO
      </div>
      <div class="navbar-link">
        <% if user_signed_in? %>
          <%= link_to "プロジェクト一覧", projects_path %>
          <%= link_to "製品一覧", products_path %>
          <%= link_to "文書一覧", documents_path %>
          <%= link_to "プロフィール", user_path(current_user.id) %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "新規登録", new_user_registration_path %>
          <%= link_to "ログイン", new_user_session_path %>
        <% end %>
      </div>
    </div>
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
